<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.meidebi.bibi</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_tw</key>
	<string>比比</string>
	<key>group_name_cn</key>
	<string>比比</string>
	<key>group_name_en</key>
	<string>bibi</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[:bibi_微笑眨眼]</string>
			<key>cht</key>
			<string>[:bibi_微笑眨眼]</string>
			<key>gif</key>
			<string>01.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_闭嘴]</string>
			<key>cht</key>
			<string>[:bibi_闭嘴]</string>
			<key>gif</key>
			<string>02.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_馋嘴]</string>
			<key>cht</key>
			<string>[:bibi_馋嘴]</string>
			<key>gif</key>
			<string>03.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_大哭]</string>
			<key>cht</key>
			<string>[:bibi_大哭]</string>
			<key>gif</key>
			<string>04.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_嘚瑟]</string>
			<key>cht</key>
			<string>[:bibi_嘚瑟]</string>
			<key>gif</key>
			<string>05.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_惊恐]</string>
			<key>cht</key>
			<string>[:bibi_惊恐]</string>
			<key>gif</key>
			<string>06.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_哭笑不得]</string>
			<key>cht</key>
			<string>[:bibi_哭笑不得]</string>
			<key>gif</key>
			<string>07.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_亲亲]</string>
			<key>cht</key>
			<string>[:bibi_亲亲]</string>
			<key>gif</key>
			<string>08.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_吐]</string>
			<key>cht</key>
			<string>[:bibi_吐]</string>
			<key>gif</key>
			<string>09.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_色眯眯]</string>
			<key>cht</key>
			<string>[:bibi_色眯眯]</string>
			<key>gif</key>
			<string>010.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_吃西瓜]</string>
			<key>cht</key>
			<string>[:bibi_吃西瓜]</string>
			<key>gif</key>
			<string>011.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_随便花]</string>
			<key>cht</key>
			<string>[:bibi_随便花]</string>
			<key>gif</key>
			<string>012.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_啦啦啦]</string>
			<key>cht</key>
			<string>[:bibi_啦啦啦]</string>
			<key>gif</key>
			<string>013.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_点赞]</string>
			<key>cht</key>
			<string>[:bibi_点赞]</string>
			<key>gif</key>
			<string>014.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_撒钱]</string>
			<key>cht</key>
			<string>[:bibi_撒钱]</string>
			<key>gif</key>
			<string>015.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:bibi_剁手]</string>
			<key>cht</key>
			<string>[:bibi_剁手]</string>
			<key>gif</key>
			<string>016.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
