<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.medebi.deer</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_tw</key>
	<string>长颈鹿</string>
	<key>group_name_cn</key>
	<string>长颈鹿</string>
	<key>group_name_en</key>
	<string>deer</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[:mdb_哎呀]</string>
			<key>cht</key>
			<string>[:mdb_哎呀]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>0.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_傲慢]</string>
			<key>cht</key>
			<string>[:mdb_傲慢]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_暴怒]</string>
			<key>cht</key>
			<string>[:mdb_暴怒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>2.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_鄙视]</string>
			<key>cht</key>
			<string>[:mdb_鄙视]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>3.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_奋斗]</string>
			<key>cht</key>
			<string>[:mdb_奋斗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>4.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_愤怒]</string>
			<key>cht</key>
			<string>[:mdb_愤怒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_干什么]</string>
			<key>cht</key>
			<string>[:mdb_干什么]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>6.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_可爱]</string>
			<key>cht</key>
			<string>[:mdb_可爱]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>7.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_酷酷]</string>
			<key>cht</key>
			<string>[:mdb_酷酷]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>8.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_流泪]</string>
			<key>cht</key>
			<string>[:mdb_流泪]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>9.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_秒杀]</string>
			<key>cht</key>
			<string>[:mdb_秒杀]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>10.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_哦错了]</string>
			<key>cht</key>
			<string>[:mdb_哦错了]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>11.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_伤心]</string>
			<key>cht</key>
			<string>[:mdb_伤心]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>12.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_生气]</string>
			<key>cht</key>
			<string>[:mdb_生气]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>13.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_思索]</string>
			<key>cht</key>
			<string>[:mdb_思索]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>14.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_微笑]</string>
			<key>cht</key>
			<string>[:mdb_微笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>15.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_委屈]</string>
			<key>cht</key>
			<string>[:mdb_委屈]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>16.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:mdb_无语]</string>
			<key>cht</key>
			<string>[:mdb_无语]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>17.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
