<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.meidebi.default</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默認</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[:default_微笑]</string>
			<key>cht</key>
			<string>[:default_微笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_0.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_撇嘴]</string>
			<key>cht</key>
			<string>[:default_撇嘴]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_色]</string>
			<key>cht</key>
			<string>[:default_色]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_2.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_发呆]</string>
			<key>cht</key>
			<string>[:default_发呆]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_3.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_得意]</string>
			<key>cht</key>
			<string>[:default_得意]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_4.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_流泪]</string>
			<key>cht</key>
			<string>[:default_流泪]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_害羞]</string>
			<key>cht</key>
			<string>[:default_害羞]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_6.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_闭嘴]</string>
			<key>cht</key>
			<string>[:default_闭嘴]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_7.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_睡]</string>
			<key>cht</key>
			<string>[:default_睡]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_8.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_大哭]</string>
			<key>cht</key>
			<string>[:default_大哭]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_9.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_尴尬]</string>
			<key>cht</key>
			<string>[:default_尴尬]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_10.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_发怒]</string>
			<key>cht</key>
			<string>[:default_发怒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_11.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_调皮]</string>
			<key>cht</key>
			<string>[:default_调皮]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_12.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_龇牙]</string>
			<key>cht</key>
			<string>[:default_龇牙]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_13.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_惊讶]</string>
			<key>cht</key>
			<string>[:default_惊讶]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_14.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_难过]</string>
			<key>cht</key>
			<string>[:default_难过]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_15.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_酷]</string>
			<key>cht</key>
			<string>[:default_酷]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_16.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_冷汗]</string>
			<key>cht</key>
			<string>[:default_冷汗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_17.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_抓狂]</string>
			<key>cht</key>
			<string>[:default_抓狂]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_18.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_吐]</string>
			<key>cht</key>
			<string>[:default_吐]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_19.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_偷笑]</string>
			<key>cht</key>
			<string>[:default_偷笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_20.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_可爱]</string>
			<key>cht</key>
			<string>[:default_可爱]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_21.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_白眼]</string>
			<key>cht</key>
			<string>[:default_白眼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_22.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_傲慢]</string>
			<key>cht</key>
			<string>[:default_傲慢]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_23.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_饥饿]</string>
			<key>cht</key>
			<string>[:default_饥饿]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_24.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_困]</string>
			<key>cht</key>
			<string>[:default_困]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_25.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_惊恐]</string>
			<key>cht</key>
			<string>[:default_惊恐]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_26.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_流汗]</string>
			<key>cht</key>
			<string>[:default_流汗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_27.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_大兵]</string>
			<key>cht</key>
			<string>[:default_大兵]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_29.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_奋斗]</string>
			<key>cht</key>
			<string>[:default_奋斗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_30.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_咒骂]</string>
			<key>cht</key>
			<string>[:default_咒骂]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_31.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_疑问]</string>
			<key>cht</key>
			<string>[:default_疑问]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_32.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_嘘]</string>
			<key>cht</key>
			<string>[:default_嘘]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_33.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_晕]</string>
			<key>cht</key>
			<string>[:default_晕]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_34.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_折磨]</string>
			<key>cht</key>
			<string>[:default_折磨]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_35.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_衰]</string>
			<key>cht</key>
			<string>[:default_衰]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_36.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_骷髅]</string>
			<key>cht</key>
			<string>[:default_骷髅]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_37.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_敲打]</string>
			<key>cht</key>
			<string>[:default_敲打]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_38.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_再见]</string>
			<key>cht</key>
			<string>[:default_再见]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_39.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_擦汗]</string>
			<key>cht</key>
			<string>[:default_擦汗]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_40.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_抠鼻]</string>
			<key>cht</key>
			<string>[:default_抠鼻]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_41.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_鼓掌]</string>
			<key>cht</key>
			<string>[:default_鼓掌]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_42.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_糗大了]</string>
			<key>cht</key>
			<string>[:default_糗大了]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_43.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_坏笑]</string>
			<key>cht</key>
			<string>[:default_坏笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_44.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_左哼哼]</string>
			<key>cht</key>
			<string>[:default_左哼哼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_45.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_右哼哼]</string>
			<key>cht</key>
			<string>[:default_右哼哼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_46.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_哈欠]</string>
			<key>cht</key>
			<string>[:default_哈欠]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_47.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_鄙视]</string>
			<key>cht</key>
			<string>[:default_鄙视]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_48.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_委屈]</string>
			<key>cht</key>
			<string>[:default_委屈]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_49.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_快哭了]</string>
			<key>cht</key>
			<string>[:default_快哭了]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_50.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_阴险]</string>
			<key>cht</key>
			<string>[:default_阴险]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_51.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_亲亲]</string>
			<key>cht</key>
			<string>[:default_亲亲]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_52.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_吓]</string>
			<key>cht</key>
			<string>[:default_吓]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_53.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:default_可怜]</string>
			<key>cht</key>
			<string>[:default_可怜]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>smiley_54.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
