<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.meidebi.dog</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_tw</key>
	<string>小狗</string>
	<key>group_name_cn</key>
	<string>小狗</string>
	<key>group_name_en</key>
	<string>dog</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[:dog_微笑]</string>
			<key>cht</key>
			<string>[:dog_微笑]</string>
			<key>gif</key>
			<string>1.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_喜欢]</string>
			<key>cht</key>
			<string>[:dog_喜欢]</string>
			<key>gif</key>
			<string>2.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_发呆]</string>
			<key>cht</key>
			<string>[:dog_发呆]</string>
			<key>gif</key>
			<string>3.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_大哭]</string>
			<key>cht</key>
			<string>[:dog_大哭]</string>
			<key>gif</key>
			<string>4.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_亲亲]</string>
			<key>cht</key>
			<string>[:dog_亲亲]</string>
			<key>gif</key>
			<string>5.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_发火]</string>
			<key>cht</key>
			<string>[:dog_发火]</string>
			<key>gif</key>
			<string>6.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_大笑]</string>
			<key>cht</key>
			<string>[:dog_大笑]</string>
			<key>gif</key>
			<string>7.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_惊讶]</string>
			<key>cht</key>
			<string>[:dog_惊讶]</string>
			<key>gif</key>
			<string>8.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_伤心]</string>
			<key>cht</key>
			<string>[:dog_伤心]</string>
			<key>gif</key>
			<string>9.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_冷汗]</string>
			<key>cht</key>
			<string>[:dog_冷汗]</string>
			<key>gif</key>
			<string>10.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_可爱]</string>
			<key>cht</key>
			<string>[:dog_可爱]</string>
			<key>gif</key>
			<string>11.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_加油]</string>
			<key>cht</key>
			<string>[:dog_加油]</string>
			<key>gif</key>
			<string>12.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_疑问]</string>
			<key>cht</key>
			<string>[:dog_疑问]</string>
			<key>gif</key>
			<string>13.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_嘘]</string>
			<key>cht</key>
			<string>[:dog_嘘]</string>
			<key>gif</key>
			<string>14.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:dog_无语]</string>
			<key>cht</key>
			<string>[:dog_无语]</string>
			<key>gif</key>
			<string>15.gif</string>
			<key>png</key>
			<string></string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
