<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>没得比</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.7.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ05FAA232</string>
				<string>wx482499aac0e8d8f7</string>
				<string>tencent100311602</string>
				<string>wb2987262446</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.meidebi.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.meidebi.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentwb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb801500782</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iosmeidebiapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iosmeidebiapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen23342874</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>safepaymdb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>safepaymdb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.meidebi.iPhone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>meidebi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>meidebijd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sdkbackcf979eeeb84c46848bcf5d771785d6c1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6750</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqzone</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiv2</string>
		<string>mqqopensdkapiv4</string>
		<string>mqzoneopensdk</string>
		<string>weibosdk</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>vkauthorize</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>whatsapp</string>
		<string>mqqwpa</string>
		<string>mqq</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnenct</string>
		<string>mqqwpa</string>
		<string>mqqopensdkdataline</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>tbopen</string>
		<string>tmall</string>
		<string>taobao</string>
		<string>tbopen：tbopen://m.taobao.com/tbopen/index.html</string>
		<string>jd</string>
		<string>jdlogin</string>
		<string>openapp.jdMobile</string>
		<string>dangdang</string>
		<string>dd</string>
		<string>sn</string>
		<string>suning</string>
		<string>wccbyihaodian</string>
		<string>ipadstore</string>
		<string>yhd</string>
		<string>store</string>
		<string>gome</string>
		<string>openapp.gome</string>
		<string>m.gome</string>
		<string>open.gome</string>
		<string>cps</string>
		<string>cps.gome</string>
		<string>cps.gome.com</string>
		<string>gomeplusapp</string>
		<string>com.gome.gomeEShop</string>
		<string>gomeplus</string>
		<string>GomeEShopAliLogin</string>
		<string>GomeEShop</string>
		<string>gomeEShop</string>
		<string>bestPay4GomeEShop</string>
		<string>unionPay4GomeEShop</string>
		<string>gome.com.cn</string>
		<string>amazon</string>
		<string>Amazon</string>
		<string>amazon.mobile.shopping</string>
		<string>amazon.mobile.shopping.web</string>
		<string>amazon.lwa.sso</string>
		<string>fb164734381262mshop</string>
		<string>fb115829135094686</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>1d97a7325742</string>
	<key>MOBAppSecret</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>发布图片和修改头像需要访问相机您是否允许打开相机</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要您的同意,才能访问通讯录？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>只有开启定位功能才能正常使用推送设置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>只有开启定位功能才能正常使用推送设置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要您的同意,才能访问麦克风</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意，需要保存图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>发布图片和修改头像需要访问相册您是否允许打开相册</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
